<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Productions</a></li>
  <li class="{% if page.url contains '/Donate/' %} active {% endif %}"><a href="{{ "/Donate/" | absolute_url }}">Donate</a></li>
  <li class="{% if page.url contains '/ConactUs/' %} active {% endif %}"><a href="{{ "/ContactUs/" | absolute_url }}">Contact Us</a></li>
</ul>
